@font-face{
	font-family: "OpenSans-Bold";
	src:url('../font/OpenSans-Bold.ttf');
}
@font-face{
	font-family: "OpenSans";
	src:url('../font/OpenSans-Regular.ttf');
}
@font-face{
	font-family: "helvetica";
	src:url('../font/HELR45W.ttf');
}
@font-face{
	font-family: "HelveticaNeue";
	src:url('../font/HelveticaNeue Thin.ttf');
	
}